/* Estilo general para el contenedor */
.container {
    max-width: 100%;
}

/* Asegura que el carrusel esté centrado y las imágenes se ajusten bien */
.carousel {
    /* width: 90%; */
    margin: 0 auto;
    max-width: 100%;
}




.carousel-item img {
    cursor: grab;
}


.carousel-item {
    position: relative;
    text-align: center;
}

/* Estilo para la imagen de la artista */
.artist-image {
    max-height: 100vh;
    position: relative;
}


/* Estilo para los botones de navegación del carrusel */
.carousel-control-prev,
.carousel-control-next {
    filter: brightness(0.8);
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
    padding: 10px;
}




/* Fondo para los textos del carrusel */
.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 90%;
    margin: auto;
    bottom: 10%;
}

/* Botones del carrusel */
.carousel-caption button {
    background-color: #ff3366;
    border: none;
    color: white;
    padding: 8px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}



.draggable-product {
    cursor: grab;
    transition: all 0.2s ease; /* Suaviza el movimiento */
}

.carousel-item {
    position: relative;
}

.carousel-caption h5, .carousel-caption p, .carousel-caption button {
    display: block;
    margin: 5px 0;
}


.draggable {
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}