body {
  display: flex;
  flex-direction: column;
}

.carousel-container {
  max-width: 600px;
  margin: 50px auto;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.prev-slide, .next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10;
    border-radius: 50%;
}

.prev-slide {
    left: -50px;
}

.next-slide {
    right: -50px;
}

.your-class img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.your-class div {
  padding: 5px;
}

button.btn.btn-primary {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  border: 2px solid #1009e5;
  border-radius: 5px;
  color: #1009e5;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
}

button.btn.btn-primary:hover {
  background-color: #1009e5;
  color: white;
}

button.btn.btn-primary:active {
  background-color: #000000;
  color: white;
}

@media (max-width: 768px) {
  .carousel-container {
    max-width: 100%;
    margin: 20px auto;
  }
}
