h1 {
    font-size: 8em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative; /* Necesario para el posicionamiento absoluto del video */
    overflow: hidden; /* Evita el desplazamiento si el video es más grande que la ventana */
}

/* VIDEO HEADER */
#video-header {
    position: absolute; /* Permite que el video ocupe todo el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Envía el video al fondo */
}


/* MENÚ */

/* MENÚ */

#texto-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#element-1, #element-2 {
    z-index: 1; /* Asegura que el título esté por encima del video */
    position: relative; /* Necesario para que el z-index funcione */
    font-size: 3em;
    color: #1009e5; /* Cambia el color del texto para mejorar la visibilidad */
    text-align: center; /* Centra el texto */
    font-weight: 500;
}



.menu a {
    position: absolute;
    padding: 10px 20px;
    text-decoration: none;
    color: #1009e5;
    /* background-color: #f0f0f0; */
    border-radius: 5px;
    font-size: 1.2em;
    z-index: 1;
}

.menu .merch {
    top: 10px;
    left: 10px;
}

.menu .tour {
    top: 10px;
    right: 10px;
}

.menu .home {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    top: 10px;
    left: 50%;
    right: 50%;
    /* transform: translate(-50%, -50%); */

}

.menu .novedades {
    bottom: 10px;
    left: 10px;
}

.menu .escucha {
    bottom: 10px;
    right: 10px;
}

/* Efecto hover */
/* .menu a:hover {
    background-color: #555;
} */


/* MENU  */


