* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative; 
    overflow: hidden;
}

/* MENÚ */

.menu-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    z-index: 10;
}

.menu-desktop a {
    padding: 10px 20px;
    text-decoration: none;
    color: #1009e5;
    font-size: 1.2em;
}

.menu-desktop .merch {
    position: fixed;
    top: 10px;
    left: 10px;
}

.menu-desktop .tour {
    position: fixed;
    top: 10px;
    right: 10px;
}

.menu-desktop .home {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.65em;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.menu-desktop .novedades {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.menu-desktop .escucha {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.menu-mobile {
    display: none;
}

.menu-mobile .hamburger {
    font-size: 1.5em;
    background: none;
    border: none;
    color: #1009e5;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 20;
}

.menu-mobile .menu-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 10;
}

.menu-mobile .menu-links a {
    padding: 10px;
    color: #1009e5;
    text-decoration: none;
}

/* VIDEO HEADER */

#video-header {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#texto-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#element-1, #element-2 {
    z-index: 1; 
    position: relative; 
    font-size: 3em;
    color: #1009e5; 
    text-align: center; 
    font-weight: 400;
}





/* RESPONSIVE */




@media (max-width: 768px) {

    body {
        overflow-y: auto;
    }

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    #texto-header {
        flex-direction: column;
        justify-content: space-between;
    }

    #texto-header :first-child {
        margin-bottom: 10.5em;
    }

    #texto-header :last-child {
        margin-top: 10.5em;
    }
}




